<section>
  <section class="h-96 flex justify-around items-center">
    <div>
      <%= image_tag("ui/2126918.jpg", width: "350") %>
    </div>
    <div>
      <h2 class="font-semibold text-center text-main text-2xl pb-5">
        Working with your team!
      </h2>
      <p class="text-sm text-center text-main font-semibold">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
        Ut saepe ea ipsa perspiciatis, omnis dicta voluptatibus laborum sapiente,<br>
        quisquam adipisci officiis, esse consequatur tempore a aut deleniti dolore eveniet corporis?
      </p>
    </div>
  </section>

  <%= render "shared/divider" %>

  <section class="h-96 flex justify-around items-center">
    <div>
      <h2 class="font-semibold text-center text-main text-2xl pb-5">
        Answer the survey
      </h2>
      <p class="text-sm text-center text-main font-semibold">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
        Ut saepe ea ipsa perspiciatis, omnis dicta voluptatibus laborum sapiente,<br>
        quisquam adipisci officiis, esse consequatur tempore a aut deleniti dolore eveniet corporis?
      </p>
    </div>
    <div>
      <%= image_tag("ui/4048544.jpg", width: "350") %>
    </div>
  </section>

  <%= render "shared/divider" %>

  <section class="h-96 flex flex-col justify-around items-center m-32">
    <div>
      <h2 class="font-semibold text-center text-main text-2xl pb-5">
        See the results within the platform!
      </h2>
    </div>

    <div class="flex py-10 w-3/6 justify-between">
      <%= image_tag("ui/2978479.jpg", width: "320") %>
      <%= image_tag("ui/check_box_image.png", width: "250") %>
    </div>

    <div>
      <p class="text-sm text-center text-main font-semibold">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ut saepe ea ipsa perspiciatis, omnis dicta voluptatibus laborum sapiente,
        quisquam adipisci officiis, esse consequatur tempore a aut deleniti dolore eveniet corporis?
      </p>
    </div>
  </section>

  <%= render "shared/divider" %>

  <section class="flex flex-col justify center h-96 m-32">
    <div>
      <h2 class="font-semibold text-center text-main text-2xl pb-5">
        It makes it easier!
      </h2>
    </div>
    <div class="flex py-10 justify-center">
      <%= image_tag("ui/posting_image.png") %>
    </div>
    <p class="text-sm text-center text-main font-semibold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Ut saepe ea ipsa perspiciatis, omnis dicta voluptatibus laborum sapiente,
      quisquam adipisci officiis, esse consequatur tempore a aut deleniti dolore eveniet corporis?
    </p>
  </section>
</section>